<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>adobe</string>
		<key>age</key>
		<integer>23</integer>
		<key>phone</key>
		<integer>15914391771</integer>
		<key>uid</key>
		<integer>325</integer>
	</dict>
    <dict>
        <key>name</key>
        <string>Kdobe</string>
        <key>age</key>
        <integer>23</integer>
        <key>phone</key>
        <integer>159143321771</integer>
        <key>uid</key>
        <integer>345</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>adobep</string>
        <key>age</key>
        <integer>23</integer>
        <key>phone</key>
        <integer>15914391771</integer>
        <key>uid</key>
        <integer>3325</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>MDZZ</string>
        <key>age</key>
        <integer>23</integer>
        <key>phone</key>
        <integer>15914391771</integer>
        <key>uid</key>
        <integer>3215</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>JJAdobe</string>
        <key>age</key>
        <integer>23</integer>
        <key>phone</key>
        <integer>15914391771</integer>
        <key>uid</key>
        <integer>3275</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>MDyZZ</string>
        <key>age</key>
        <integer>23</integer>
        <key>phone</key>
        <integer>15914391771</integer>
        <key>uid</key>
        <integer>32315</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>JJAdobe</string>
        <key>age</key>
        <integer>23</integer>
        <key>phone</key>
        <integer>15914391771</integer>
        <key>uid</key>
        <integer>32725</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>12414</string>
        <key>age</key>
        <integer>23</integer>
        <key>phone</key>
        <integer>15914391771</integer>
        <key>uid</key>
        <integer>321725</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>easy414</string>
        <key>age</key>
        <integer>23</integer>
        <key>phone</key>
        <integer>15914391771</integer>
        <key>uid</key>
        <integer>327325</integer>
    </dict>
</array>
</plist>
